@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn {
      @apply bg-blue-600 text-white active:bg-blue-900 font-bold text-lg px-6 py-3 rounded-lg shadow hover:shadow-lg mr-1 mb-1 cursor-pointer border border-blue-600 hover:bg-white hover:text-blue-600;
  }
}